@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

$font-family: "Chivo", sans-serif;
$font-size: 0.8rem;
$line-height: 1.5;
$color-accent: #089ec5;
$color-neutral-0: #16181a;
$color-neutral-1: #5c646c;
$color-neutral-2: #969da5;
$color-neutral-3: #c5c3c6;
$color-neutral-4: #dcdcdd;
$color-neutral-5: #ffffff;
$corner-radius: 0rem;

* {
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
canvas {
    width: 100%;
    height: 100%;
    display: block;
}

body {
    margin: 0;
    font-family: $font-family;
    font-size: $font-size;
}

h1,h2 {
    letter-spacing: -0.5px;
}

.navbar {
    // border-bottom: 1px solid #e5e5e5;
    background-color: rgba($color-neutral-5, 0.8);
    border-bottom: 1px solid $color-neutral-4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 2rem;
    padding: 0 1rem;
    // text-transform: uppercase;
    font-size: $font-size;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    // letter-spacing: 0.5px;
    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            column-gap: 1rem;
            li {
                margin: 0;
                padding: 0;
                display: inline-block;

                a {
                    color: $color-neutral-0;
                    text-decoration: none;
                    transition: 0.2s opacity;
                }
                a:hover {
                    opacity: 0.5;
                    transition: 0.2s opacity;
                }
            }
        }
        .title {
            font-weight: 700;
            span {
                margin-left: 0.2rem;
                border: 1px solid $color-neutral-4;
                font-weight: 400;
                font-size: 0.8rem;
                text-transform: uppercase;
                padding: 0.1rem 0.3rem;
                color: $color-neutral-2;
                // background-color: $color-accent;
            }
        }
    }
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    // height: calc(100vh - 2rem);
    width: 100vw;
    margin-top: 5rem;

    input[type="text"] {
        font-family: $font-family;
        font-size: $font-size;
        display: block;
        // height: 2.5rem;
        border: none;
        border-radius: 0;
        background: transparent;
        color: $color-neutral-0;
        font-weight: 200;

        outline: none;
        padding: 0 1rem;
        border-bottom: 1px solid rgba($color-neutral-2, 0.75);

        min-width: 50vw;
        height: 2rem;
    }

    input[type="text"]:focus {
        background-color: rgba($color-neutral-4, 0.25);
        border-bottom: 1px solid $color-accent;
        transition: 0.3s all;
    }

    ::placeholder {
        color: $color-neutral-2;
        opacity: 1;
    }

    .results {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: flex-start;
        min-width: 100vw;
        height: 62vh;
        scroll-behavior: smooth;
        overflow-y: scroll;

        a {
            width: 50%;
            display: flex;
            align-content: center;
            justify-items: center;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
            // border-bottom: 1px solid rgba($color-neutral-2, 0.25);
            height: 2rem;
            font-size: $font-size;
            text-decoration: none;
            line-height: 2rem;
            color: $color-neutral-0;
            transition: 0.3s all;

            span {
                text-transform: uppercase;
                height: 1.2rem;
                line-height: 1.2rem;
                // border:1px solid $color-neutral-3;
                color: $color-neutral-2;
                background-color: rgba($color-neutral-4, 0.5);
                padding: 0.15rem 0.4rem;
                margin-left: 0.3rem;
                // border-radius: 0.6rem;
            }
        }
        a:nth-child(odd) {
            background-color: rgba($color-neutral-5, 1);
        }
        a:nth-child(even) {
            background-color: rgba($color-neutral-4, 0.2);
        }
        a:hover {
            color: $color-neutral-5;
            background-color: rgba($color-accent, 1);
            transition: 0.3s all;
            span {
                color: $color-accent;
                background-color: rgba($color-neutral-5, 1);
                // border: 1px solid $color-neutral-5;
            }
        }
    }
}

body {
    .graph {
        z-index: -1000;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        min-height: 100vh;
        background-color: $color-neutral-5;
    }
    .customize {
        opacity: 0.25;
        transition: 0.3s all;
        z-index: 1000;
        position: absolute;
        top: 3rem;
        right: 1rem;
        padding: 1rem;
        width: 14rem;
        background-color: rgba($color-neutral-4, 0.65);
        // border: 1px solid $color-neutral-4;
        display: flex;
        flex-direction: column;

        h6 {
            margin-top: 0.5rem;
            margin-bottom: 0rem;
        }
        .customize-controls {
            flex-basis: 100%;
            flex-direction: column;
            width: 100%;
            display: flex;
        }
    }
    .customize:hover {
        opacity: 1;
        transition: 0.3s all;
    }
    .details {
        position: absolute;
        z-index: 1000;
        top: 2rem;
        left: 0rem;

        width: 18rem;
        height: calc(100vh - 2rem);
        background-color: rgba($color-neutral-5, 0.95);
        padding: 1rem;
        transition: 0.3s all;
        display: flex;

        flex-direction: column;
        scroll-behavior: smooth;
        overflow-y: scroll;
        border-right: 1px solid $color-neutral-4;
        h1 {
            font-size: $font-size * 1.6;
            line-height: 1.4;
            margin-top: 0;
            margin-bottom: 0rem;
            color: $color-neutral-0;
            span {
                color: $color-neutral-2;
                margin-left: 0.5rem;
                text-transform: uppercase;
                font-weight: 200;
                font-size: $font-size;
                border: 1px solid $color-neutral-2;
                padding: 0.15rem 0.2rem;
            }
        }
        p {
            line-height: 1.4;
            font-size: $font-size;
            font-family: 'Montaga', serif;
            color: $color-neutral-1;
        }
        ul {
            list-style: none;
            font-size: $font-size;
            margin: 0;
            padding: 0;
            // color: $color-accent;

            li {
                display: block;
                padding: 0.5rem 0;

                a {
                    color: $color-accent;
                    text-decoration: none;
                }
                a:hover {
                    opacity: 0.5;
                }
            }
            li:not(:last-child) {
                border-bottom: 1px solid $color-neutral-4;
            }
        }

        .spacer {
            height: 2rem;
        }

        a {
            transition: 0.2s all;
        }

        h6 {
            margin-top: 2rem;
            margin-bottom: 0rem;
        }
        .button-group {
            margin-top: 1rem;
        }
    }
}

h6 {
    color: $color-neutral-2;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 200;

    letter-spacing: 1px;
}

.node-label {
    font-size: $font-size;
    color: #16181a;
    text-align: center;
    max-width: 15vw;

    .label-container {
        display: flex;
        flex-direction: row;
        column-gap: 0.5rem;
        align-items: center;
        
        padding: 0.5em 0.6rem;
        // max-width: 10rem;
        overflow-wrap: normal;
        margin: 0;
        // height: 2rem;
        border-radius: $corner-radius;
        background-color: rgba($color-neutral-5, 1);

        p {
            margin:0;
        }
    }


    // .label {
    //     padding: 0.4em 0.5rem;
    //     // max-width: 10rem;
    //     overflow-wrap: normal;
    //     margin: 0;
    //     border-radius: $corner-radius;
    //     background-color: rgba($color-neutral-5, 1);
    // }

    .url {
        border-bottom: 1px solid $color-neutral-3;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    row-gap: 0.1rem;
    /* transition: 0.1s; */

    span {
        font-size: 3rem;
        filter: grayscale(1);
        opacity: 0.5;
    }

    // transition: 0.1s opacity;
}

.node-label > span {
    padding-top: 1.5rem;
}

.node-label.default {
    .label-container {
        font-size: $font-size;
        color: $color-neutral-5;
        // border: 1px solid $color-neutral-0;
        background: rgba($color-neutral-2, 0.8);
    }
    // .label {
    //     font-size: $font-size;
    //     color: $color-neutral-5;
    //     // border: 1px solid $color-neutral-0;
    //     background: rgba($color-neutral-2, 0.8);
    // }
    .url {
        border: 0px solid $color-accent;
    }
    span {
        filter: grayscale(0);
        opacity: 1;
    }
    // z-index: 500;
    // transition: 0.1s opacity;
}

.node-label.active {
    .label-container{
        font-size: $font-size;
        color: #ffffff;
        background: $color-neutral-0;

        
    }
    // .label {
    //     font-size: $font-size;
    //     color: #ffffff;
    //     background: $color-neutral-0;
    // }
    .url {
        border: 0px solid $color-accent;
    }
    span {
        filter: grayscale(0);
        opacity: 1;
    }
    // z-index: 1000;
    // transition: 0.1s opacity;
}

.logo img {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 120px;
    height: auto;
    opacity: 0.25;
    transition: 0.3s all;
}

.logo img:hover {
    opacity: 1;
    transition: 0.3s all;
}
canvas {
    width: 100%;
    height: 100%;
}

.opacity-50,
.dim {
    opacity: 0.5;
}

.scene-tooltip {
    display: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: $color-neutral-4;
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin: 0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: $color-accent;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: $color-accent;
    cursor: pointer;
}

.control {
    p {
        margin: 0.25rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: center;
        column-gap: 0.5rem;
    }
    padding: 0.25rem 0;
    
}

.control-radio {
    width:100%;
    display: flex;
    align-items: center;
    align-self: flex-start;
    border-bottom: 1px solid $color-neutral-3;
    p {
        margin-left: 0.5rem;
    }
}

// .twemoji {
//     img {
//         width: 24px;
//     }
// }

.control {
    p {
        line-height: 1.5;
    }
}
.button-group {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-items: space-between;
}

a.button.primary {
    display: inline-block;
    background-color: $color-accent;
    text-decoration: none;
    color: $color-neutral-5;
    padding: 0.5rem 1rem;
    text-align: center;
    // margin: 0.5rem 0;
    // width: 100%;
    border-radius: $corner-radius;
    font-weight: 700;
}
a.button.secondary {
    display: inline-block;
    background-color: $color-neutral-0;
    // border: 2px solid $color-neutral-2;
    text-decoration: none;
    color: $color-neutral-5;
    font-weight: 700;
    padding: 0.5rem 1rem;
    text-align: center;
    // margin: 0.5rem 0;
    // width: 100%;
    border-radius: $corner-radius;
}
a.button:hover {
    opacity: 0.5;
    transition: 0.2s all;
}

.about {
    max-width: 800px;
    margin: 5vw auto;
    padding: 2rem;

    h1 {
        font-weight: 200;
        color:$color-neutral-0;
    }

    h1.large {
        letter-spacing: -1px;
        font-size: 2rem;
        font-weight: 100;
        color: $color-neutral-0;
        b {
            font-weight: 600;
        }
        a {
            color: $color-neutral-0;
        }
    }

    h2 {
        font-weight: 600;
        font-size: 3rem;
        line-height: 1.1;
        
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    h4 {
        font-size: 1.6rem;
        margin-bottom: 0;
        color: $color-accent;
    }

    p {
        font-family: 'Montaga', serif;
        font-size: 1.2rem;
        line-height: 1.4;
        color: $color-neutral-1;
    }

    table {
        tr {
            td {
                font-size: 1rem;
            }
        }
    }

    ul {
        li {
            font-family: 'Montaga', serif;
            font-size: 1.1rem;
        }
    }
    .footer {
        margin-top: 5rem;
        h3 {
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 400;
        }
        opacity: 0.5;
    }
}

.modal {
    background-color: rgba($color-neutral-0, 0.8);
    // position: absolute;
    // top:10rem;
    padding: 1rem;
}